<%- include("partials/header"); -%>
<div class="make">
    <h1>Getting Started</h1>
    <br>
    <div style="font-size: 20px; padding: 20px; background: white; border-radius: 10px;">
    <p>The user starts by registering and logging in the system. The user lands on the home page where user may note down daily events. It is accessible by clicking the site tilte in the navbar.</p>
    <p>Write your tasks in the text box and Click the '+' button to add it to the list.</p>
    <p>Click the checkbox to mark the task as completed and see it in the accomplished task list. You are provided with the option to delete the tasks from the 'Tasks accomplished' list by clicking the 'Delete' button.</p>
    <p>To create and view the customized lists click the 'My Lists' link in the navbar. Choose to see the list you want by clicking the 'Visit' button and delete by 'Delete' button. To create a new list write the name of the list and click 'Submit' button to view it.</p>
    <p>You may anytime logout from the system by clicking the 'Log Out' button in the navbar.</p>
    </div>
</div>
<%- include("partials/footer"); -%>