<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container" id="containers">
    <i class="fa-solid fa-list-check fa-4x"></i>
    <h1 class="display-3">To-Do List</h1>
    <p class="lead">Welcome to the Your To-Do List!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
